<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>黄段子的宇宙</title>
    <!--[if lt IE 9]> 
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> 
    <![endif]-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">黄段子</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">发布新段子</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" style='padding-top:60px;'>
        <h1 class="title">
            我们都爱黄段子
        </h1>
        <div class="row">
            <div class="col-md-8 border">
                <div class="panel panel-default">
                    <div class="panel-body">
                       前一阵我们单位组织到东莞玩，在东莞市郊的水塘边我正在洗手，这个时候跳过来一只青蛙，它对我说：“AC 2：1胜国米”然后就跳走了，当时大家都在拍照，乱哄哄的没有注意到，我当时很奇怪，不知道青蛙为什么会说话，刚才好像说的是足球比分，那天晚上意甲正好是米兰的德比之战，我和几个同事在东莞市里的“东北性天堂”大酒店里看完之后我傻了，因为比分是：AC米兰2：1战胜了国际米兰。 第二天我早上又到那里找那只青蛙，它又对我说：“3D，135”我这时候真是深信不疑，于是花一百块钱买了50注，结果晚上我对着电视看到真的中了，一下子就赢了5万块钱。当时我就决定一定要抓住那只青蛙，那么以后我就发财了。 接下来我没有跟着单位回去，一直在那个水塘边等着，终于让我等到了，它在水中只露了个头说了几个数字，我知道这是双色球的号码。我没敢多买，怕赢太多惹人怀疑，于是只买了5注，结果扣税后我握着2千万的支票都快疯了，吃水莫忘打井人，我决定要报答那只青蛙，于是我连夜去找。最后在我的盛意下青蛙终于答应了我的要求，随我回到了城市。 它说它从来没有见过人类的浴池，于是我花钱包了当地最豪华的洗浴中心――“东北妞大浴场”，然后休息的时候我带它来到一间按摩室，我把它放在床上说：“多亏了你我才有今天，无论如何我都会满足你任何要求。” “亲我一下滋道不？”青蛙用东北口音说道，我想着没有什么大不了的，于是轻轻在它额头上亲了一下，没想到那只青蛙突然在我面前变成了一个非常漂亮的18岁的小姑娘，她说曾经被施了魔法，多谢我救了她，以后要和我一起生活。 “各位警察大哥，我说的是真的啊，床上那个东北女的就是这么来的，千万不要抓我啊！”

                    </div>
                    <div class="panel-footer">
                        评论 呵呵
                        <hr> 评论 呵呵
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个黄段子
                    </div>
                    <div class="panel-footer">
                        评论 呵呵
                        <hr> 评论 呵呵
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个黄段子
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                呵呵
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                呵呵
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="pull-right">查看详细</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个黄段子
                    </div>
                    <div class="panel-footer">
                        评论 呵呵
                        <hr> 评论 呵呵
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个黄段子
                    </div>
                    <div class="panel-footer">
                        评论 呵呵
                        <hr> 评论 呵呵
                    </div>
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="panel panel-default">
                    <div class="panel-body">
                        个人信息
                        <br> 污力值：1000
                        <br> 小蘑菇:10000
                        <br> 节操：1010
                        <br> 评语:在污力的世界里，你是无人能敌的。
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        个人信息
                        <br> 污力值：1000
                        <br> 小蘑菇:10000
                        <br> 节操：1010
                        <br> 评语:在污力的世界里，你是无人能敌的。
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        个人信息
                        <br> 污力值：1000
                        <br> 小蘑菇:10000
                        <br> 节操：1010
                        <br> 评语:在污力的世界里，你是无人能敌的。
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src='https://cdn.bootcss.com/jquery/3.1.1/jquery.js'></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>

</html>